@import "~assets/styles/_bootstrap";

.eComment {
	color: $blk;
	background: #fff;

	.pLoadMore {
		background: #fff!important;
	}

	> .tabs {
		display: flex;
		padding: rem(15px) 0;
		border-bottom: $lineCol 1px solid;

		> li {
			flex: 1;
			height: rem(40px);
			line-height: rem(23px);
			text-align: center;

			&.on {
				color:$mainCol;
			}

			> span {
				display: block;
			}

			> i {
				font-size: $fontS;
			}
		}
	}

	> .bodys {
		// overflow-x: hidden;
		// -webkit-overflow-scrolling: touch;

		section {

			li {
				padding: rem(15px) rem(10px) rem(20px);
				font-size: $fontS;
				background: #fff;
				border-bottom: $lineCol 1px solid;

				> .info {
					overflow: hidden; margin-bottom: rem(12px);
					line-height: rem(21px);
					color: $grayLight;

					> .stars {
						overflow: hidden;
						float: left;
						margin-right: rem(5px);

						> i {
							margin-right: rem(3px);
							font-size: rem(21px);

							&.on:before {
								color: $mainCol;
							}
						}
					}

					> label {
						float: left;
					}

					> span {
						float: right;
					}
				}

				> p {
					color: $blk;
				}
			}

			> .note {
			  height: 40px;
			  line-height: 40px;
			  text-align: center;
			}
		}
	}
}

.noContent {
	padding-top: rem(100px);
	color: $grayLight;
	text-align: center;

	> p {
		font-size: rem(16px);
	}

	.brand {
		margin-top: rem(270px);
		padding-left: rem(41px);
		width: 100%;
		line-height: rem(31px);

		> i {
			position: absolute;
			left: 50%;
			top: 0;
			margin-left: rem(-100px);
			font-size: rem(31px);
		}
	}
}