@import "~assets/styles/_bootstrap";

.eMicroShare {

	.head {
		padding-top: rem(50px);
		display: block;
		width: 100%;
		height: rem(180px);
		text-align: center;
		color: #fff;
	background: -webkit-linear-gradient(#e6be70, #c18715);
	background: -o-linear-gradient(#e6be70, #c18715);
	background: linear-gradient(#e6be70, #c18715);
	
		> em {
			font-size: rem(48px);
			line-height: rem(50px);
		}
	
		> p {
			font-size: rem(16px);
			line-height: rem(50px);
		}
	}

	.tabs {
		padding: 0 rem(10px);
		display: flex;
		font-size: rem(16px);
		line-height: rem(22px);
		text-align: center;
		background: #fff;
		margin-bottom: rem(12px);

		> li {
			flex: 1;
			padding: rem(10px) 0 rem(18px);

			> span {
				display: block;
				line-height: rem(45px);
			}

			> i {
				color: $mainCol;
			}

			&:first-child {
				border-right: #aaa 1px solid;
			}
		}
	}

	.enters {
		
		> a {
			overflow: hidden;
			padding: rem(6px) rem(15px);
			display: block;
			height: rem(48px);
			font-size: $fontM;
			line-height: rem(36px);
			background: #fff;

			> i {
				float: right;
				line-height: rem(36px);
			}
		}
	}

	.foot {
		position: fixed;
		bottom: rem(80px);
		left: 0;
		width: 100%;
		text-align: center;
		font-size: rem(14px);

		> i {
			font-size: rem(24px);
			vertical-align: middle;
		}

		> p {
			display: inline-block;
			color: $grayLight;
		}
	}
}