@import "~assets/styles/_bootstrap";

#user_add_card {
  width: 100%;
  height: 100%;
  font-size: rem(16px);
  background-color: #fff;

  .add_card_con {
    min-height: 10px;
    padding: rem(24px) rem(15px) 0;
    background-color: #fff;

    > li {
      display: flex;
      padding: rem(12px) 0;
      border-bottom: 1px solid #e0e0e0;

      > label {
        flex: 0 0 rem(80px);
        line-height: rem(36px);
        margin-right: rem(9px);
      }

      > input {
        flex: 1;
        display: inline-block;
        height: rem(36px);
        font-size: rem(15px);
        border: none;
      }

      > select {
        flex: 1;
        font-size: rem(15px);
        border: none;
      }

      .city-name {
        width: 100%;
        line-height: rem(36px);
        vertical-align: middle;

        > i {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          height: rem(36px);
          line-height: rem(36px);
          text-align: center;
          color: #999;
          vertical-align: middle;
        }
      }
    }
  }

  .form {

    > button {
      display: block;
      width: rem(270px);
      height: rem(40px);
      font-size: rem(16px);
      color: #fff;
      line-height: rem(40px);
      margin: rem(20px) auto;
      border: none;
      border-radius: 5px;
      background-color: $mainCol;
      cursor: pointer;
    }
  }

}