
.icon-add:before {
  content: "\e900";
  color: #888;
}
.icon-append:before {
  content: "\e901";
}
.icon-arr_btm:before {
  content: "\e902";
  color: #888;
}
.icon-arr_btm_fill:before {
  content: "\e903";
  color: #888;
}
.icon-arr_btm2:before {
  content: "\e904";
  color: #888;
}
.icon-arr_lt:before {
  content: "\e905";
  color: #888;
}
.icon-arr_rt:before {
  content: "\e906";
  color: #888;
}
.icon-arr_up_fill:before {
  content: "\e907";
  color: #888;
}
.icon-back:before {
  content: "\e908";
  color: #888;
}
.icon-box:before {
  content: "\e909";
  color: #888;
}
.icon-brow:before {
  content: "\e90a";
}
.icon-cart:before {
  content: "\e90b";
}
.icon-cart_empty:before {
  content: "\e90c";
  color: #888;
}
.icon-cart2:before {
  content: "\e90d";
  color: #888;
}
.icon-cats:before {
  content: "\e90e";
  color: #888;
}
.icon-chat:before {
  content: "\e90f";
}
.icon-circle:before {
  content: "\e910";
  color: #888;
}
.icon-close:before {
  content: "\e911";
  color: #888;
}
.icon-close2:before {
  content: "\e912";
  color: #888;
}
.icon-close3:before {
  content: "\e913";
}
.icon-delect:before {
  content: "\e914";
  color: #888;
}
.icon-deliver:before {
  content: "\e915";
  color: #888;
}
.icon-edit:before {
  content: "\e916";
  color: #888;
}
.icon-email:before {
  content: "\e917";
}
.icon-enter:before {
  content: "\e918";
  color: #888;
}
.icon-evaluate:before {
  content: "\e919";
}
.icon-ewm:before {
  content: "\e91a";
  color: #888;
}
.icon-eye:before {
  content: "\e91b";
  color: #888;
}
.icon-female:before {
  content: "\e91c";
}
.icon-flag:before {
  content: "\e91d";
}
.icon-fly:before {
  content: "\e91e";
}
.icon-fold:before {
  content: "\e91f";
  color: #888;
}
.icon-follow:before {
  content: "\e920";
}
.icon-gong:before {
  content: "\e921";
}
.icon-gotop:before {
  content: "\e922";
  color: #888;
}
.icon-home:before {
  content: "\e923";
}
.icon-home_fill:before {
  content: "\e924";
}
.icon-home2:before {
  content: "\e925";
  color: #888;
}
.icon-key:before {
  content: "\e926";
}
.icon-keyboard:before {
  content: "\e927";
}
.icon-like:before {
  content: "\e928";
}
.icon-list:before {
  content: "\e929";
  color: #888;
}
.icon-list2:before {
  content: "\e92a";
  color: #888;
}
.icon-location:before {
  content: "\e92b";
  color: #888;
}
.icon-logo:before {
  content: "\e92c";
  color: #8d8d8c;
}
.icon-male:before {
  content: "\e92d";
}
.icon-more:before {
  content: "\e92e";
  color: #888;
}
.icon-msg:before {
  content: "\e92f";
  color: #888;
}
.icon-no-delivery:before {
  content: "\e930";
}
.icon-no-payment:before {
  content: "\e931";
  color: #a7a7a7;
}
.icon-note:before {
  content: "\e932";
}
.icon-order:before {
  content: "\e933";
  color: #888;
}
.icon-order_fill:before {
  content: "\e934";
  color: #888;
}
.icon-order2:before {
  content: "\e935";
  color: #888;
}
.icon-order3:before {
  content: "\e936";
}
.icon-person:before {
  content: "\e937";
  color: #888;
}
.icon-phone:before {
  content: "\e938";
}
.icon-photo:before {
  content: "\e939";
}
.icon-qrcode:before {
  content: "\e93a";
}
.icon-return:before {
  content: "\e93b";
}
.icon-right:before {
  content: "\e93c";
  color: #888;
}
.icon-sale:before {
  content: "\e93d";
}
.icon-search:before {
  content: "\e93e";
  color: #888;
}
.icon-search_add:before {
  content: "\e93f";
  color: #888;
}
.icon-search_fill:before {
  content: "\e940";
  color: #888;
}
.icon-search2:before {
  content: "\e941";
  color: #888;
}
.icon-selected:before {
  content: "\e942";
  color: #888;
}
.icon-seven:before {
  content: "\e943";
}
.icon-share:before {
  content: "\e944";
  color: #888;
}
.icon-shop:before {
  content: "\e945";
  color: #888;
}
.icon-square:before {
  content: "\e946";
  color: #888;
}
.icon-star:before {
  content: "\e947";
  color: #888;
}
.icon-star_fill:before {
  content: "\e948";
  color: #888;
}
.icon-star1:before {
  content: "\e949";
  color: #6e6e6e;
}
.icon-sub:before {
  content: "\e94a";
  color: #888;
}
.icon-tips:before {
  content: "\e94b";
}
.icon-user:before {
  content: "\e94c";
}
.icon-user_fill:before {
  content: "\e94d";
}
.icon-user2:before {
  content: "\e94e";
  color: #888;
}
.icon-user-set:before {
  content: "\e94f";
}
.icon-voice:before {
  content: "\e950";
}
.icon-voice_2:before {
  content: "\e951";
}
