@import "~assets/styles/_bootstrap";

html, body {
	height: 100%;
	background: #F6F6F9;
}

.income-page {
	height: 100%;

	.income-box {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		padding-top: rem(60px);
		height: 100%;

		.income-list {
			height: rem(612px);

			.item {
				margin: rem(10px) auto;
				width: rem(345px);

				> h3 {
					padding-bottom: rem(10px);
					font-size: rem(12px);
					text-align: center;
				}

				.link {
					display: block;
					padding: 0 rem(10px);
					border: 1px solid #d7d7d7;
					border-radius: rem(5px);
					background: #fff;

					.title {
						font-size: rem(14px);
						line-height: rem(30px);
					}

					.desc {
						padding: rem(5px) 0;
						font-size: rem(12px);
						color: #999;
						line-height: rem(20px);

						> span {
							padding-left: rem(10px);
						}
					}

				}

			}
		}

	}

}